* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
    background-color:rgb(28, 8, 100);
    color: aliceblue;
    list-style: none;
    display: flex;
    align-items: center;  
}

header img {
    width: 400px;
    height: 100px;
    margin-left: 20px;
}

.carousel-inner {
    height: 500px;
}

.container {
    margin-top: 20px;
}

.container img {
    width: 415px;
    height: 415px;
}

